/* font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* colors */
:root {
    --primary : #1a253f;
    --dark : #151A33;
    --secondary : #2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure : #eff2f9;
    --fade : #7081b9;
    --mild : #8997bd;
    --footer : #212A4A;
    --black : #060d1b;
    --twitter : #4ac7ec;
    --dribble: #ff5da0;
    --success : #1ecab8;
    --danger : #f1646c;
    --dark-blue : #28365f;
    --dark-gray : #404040;

}

/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
    -webkit-font-smoothing: antialiased;
    height: 5000px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

section {
    padding: 3rem;
}

main {
    background: var(--primary);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    background: var(--primary);
    padding: 1.6rem 0;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

.logo i {
    color: var(--info);
}

.printBtn {
    background: var(--secondary);
    border: none;
    padding: 0.6rem 1rem;
    color: var(--pure);
    font-size: 18px;
    border-radius: 4px;
}

.profile {
    background: var(--black);
    display: flex;
    align-items: center;
    padding: 3rem 3rem 7rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
}

.cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, var(--secondary), var(--success));
}

span b {
    padding-bottom: 1rem;
    font-weight: 400;
}

.left {
    display: flex;
    flex: 2;
    align-items: center;
}

.right {
    flex: 1;;
}

.left h2 {
    color: var(--fade);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.left p {
    color: var(--mild);
    font-size: 14px;
}

.avatar img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar {
    position: relative;
    margin-right: 2rem;
}

.avatar span {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: var(--info);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32, 41, 54, 0.05);
    cursor: pointer;
}

.contact {
    list-style: none;
    margin-bottom: 1.6rem;
}

.contact li {
    color: var(--ternary);
    margin-bottom: .7rem;
    font-size: 14px;
}

.contact li i {
    font-size: 18px;
    margin-right: 0.3rem;
}

.socials {
    display: flex;
    align-items: center;
    list-style: none;
}

.socials li {
    margin-right: 0.8rem;
    border-radius: 50%;
}

.socials li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    color: var(--pure);
    line-height: 36px;
    text-align: center;
    margin-right: 4px;
}

.socials li:nth-child(1) {
    background: var(--secondary);
}

.socials li:nth-child(2) {
    background: var(--twitter);
}

.socials li:nth-child(3) {
    background: var(--dribble);
}
.socials li:nth-child(4) {
    background: var(--ternary);
}

.sec-heading {
    font-size: 20px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
    border-bottom: 1px dotted var(--dribble);
    width: 165px;
    line-height: 1.5;
}

.me {
    width: 89px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16rem;
}

.content h2 {
    color: var(--info);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 1em;
}

.content p {
    color: var(--ternary);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}

.content button {
    background: rgba(77, 121, 246, 0.1);
    color: var(--info);
    padding: 4px 8px;
    font-size: 20px;
    border: none;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}

.address p {
    line-height: 1.6;
    font-size: 14px;
    color: var(--ternary);
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}

.address p span:nth-child(1) {
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display: block;
    position: relative;
}

.address p span:nth-child(1)::after {
    content: ':';
    position: absolute;
    right: 0;
    top: 0;
}

.address p span:nth-child(2) {
    padding-left: 150px;
    display: block;
}

.qualification {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.heading {
    margin-bottom: 2rem;
}

.heading i {
    color: var(--info);
    font-size: 52px;
}

.heading h5 {
    font-size: 16px;
    margin-top: 0.5rem;
    color: var(--mild);
}

.heading p {
    font-size: 14px;
    color: var(--ternary);
    line-height: 1.7;
}

p.center {
    color: var(--fade);
}

.item {
    margin-top: 2.6rem;
    margin-left: 15px;
    position: relative;
}

.item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 27px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--info);
    border-radius: 50%;
    margin: -21px;
}

.timeline-wrapper {
    border-left: 2px dotted var(--dark-blue);
}

.skill-box {
    margin-bottom: 4rem;
}

.skill-box h4 {
    color: var(--ternary);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}

.progress-wrap {
    background: #20294a;
    height: 6px;
    width: 100%;
    border: 2px solid #1a253f;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0.25px #4d79f6;
}

.progress-bar {
    display: block;
    height: 100%;
    background: var(--info);
    width: 0;
    position: relative;
    transition: all 2s ease-in-out;
}

.tooltip {
    position: absolute;
    top: -30px;
    right: -15px;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--ternary);
}

.counter-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--dark-gray);
    
}

.project, .clients, .award {
    display: flex;
    align-items: center;
    padding-left: 80px;
    
}

.project h3, .clients h3, .award h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--fade);
    margin-bottom: 10px;
}

.project h5, .clients h5, .award h5 {
    font-size: 18px;
    color: var(--fade);
}

.icon-counter {
    font-size: 42px;
    margin-right: 15px;
}

.cell {
    color: gold;
}

.smile {
    color: green;
}

.award-icon {
    color: #db15db;
}

.work-heading {
    width: 200px;
}

.img-fluid {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--dribble);
    border-radius: 2px;
}

.work-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tabs ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.tabs ul li a {
    color: var(--fade);
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    letter-spacing: 2px;
}

.tabs ul li a.active {
    color: var(--info);
    border-color: var(--info);
    transition: all .3s ease-in-out;
}

.portfolio {
    margin-top: 4rem;
    display: flex;
}

.item-wrap {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}